# Python virtual environment
venv/

# Compiled Python files
*.pyc

# macOS system files
.DS_Store

# Environment variables file
.env

# Node.js package lock file
package-lock.json

# Node modules directory
**/node_modules/

# PDF files
*.pdf

# Sensitive credentials
credentials.json
token.json
